*
{
    box-sizing: border-box;
}


.part1 li::before,
.part1 li::after
{
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
    content: "";
    background-image: url(./images/quotes.png);
}

.part1 li::before
{
    margin-right: 0.4em;
}

.part1 li::after
{
    margin-left: 0.4em;
}

/* Part 2*/

.part2 li
{
    line-height: 2;
    font-size: 1.5rem;
}
.part2 li a
{
    text-decoration: none;
}

.file ::after
{
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
    margin-left: 0.8rem;
    content: "";
    position: relative;
    top:0.8rem;
}

#file1 ::after, #file5 ::after
{
    background-image: url(./images/ms-pdf.png)
}

#file2 ::after
{
    background-image: url(./images/ms-excel.png)
}
#file3 ::after, #file4 ::after
{
    background-image: url(./images/ms-word.png)
}

/* Part 3 */