/* *
{
    box-sizing: border-box;
} */


.part1 ul li::before
{
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    content: "";
    background-image: url(./images/quotes.png);
}

.part1 ul li::after
{
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
    margin-left: 0.5rem;
    content: "";
    background-image: url(./images/quotes.png);
}

/* Part 2*/

.part2 ul li
{
    line-height: 2;
    font-size: 1.5rem;
}
.part2 ul li a
{
    text-decoration: none;
}

.file ::after
{
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
    margin-left: 0.8rem;
    content: "";
    position: relative;
    top:0.8rem;
}

#file1 ::after, 
#file5 ::after
{
    background-image: url(./images/ms-pdf.png)
}

#file2 ::after
{
    background-image: url(./images/ms-excel.png)
}
#file3 ::after, 
#file4 ::after
{
    background-image: url(./images/ms-word.png)
}

/* Part 3 */
.part3 ul, 
.part3 p
{
    list-style-type: none;
    border: 2px solid black;
    padding: 2rem 0;
    width: 90vw;
    position: relative;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.part3 ul li
{
    line-height: 1.5;
}

.part3 ul::before,
.part3 p::before
{
    display: inline-block;
    position: absolute;
    top:0;
    width: 90vw;
    height: 1.5rem;
    content: "";
    background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 0%,
    rgb(67, 204, 92) 50%,
    rgba(254, 233, 0, 1) 100%
  );
}

.part3 ul::after,
.part3 p::after 
{
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90vw;
    height: 1.5rem;
    content: "";
    background: linear-gradient(
      90deg,
      rgba(254, 233, 0, 1) 0%,
      rgb(67, 204, 92) 50%,
      rgba(0, 212, 255, 1) 100%
    );
  }